*{
    margin:0;
    padding:0;
}
.container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
h1{
    margin-bottom: 40px;
    font-family: sans-serif;
}
.switch{
    position:relative;
    display:inline-block;
    width:90px;
    height:40px;
}
.slider{
    position: absolute;
    cursor:pointer;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #ccc;
    border-radius: 30px;
    transition: 0.4s;
}
.switch input{display:none}

.slider:before{
    position:absolute;
    content:"";
    width:30px;
    height:30px;
    left:5px;
    bottom:5px;
    background-color: white;
    border-radius: 50px;
    transition: 0.4s;
}
input:checked+.slider{
    background-color: hotpink;
}
input:checked+.slider:before{
    transform: translateX(50px);
}